
.root {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", "Inter", "Arial";
    -fx-font-size: 16px;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.button:hover {
    -fx-background-color: #222;
}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
}
